.container{
    border-radius: .8rem;
    padding: 2rem;
}

.projectContainer{
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
}

.title{
    text-align: center;
    margin-bottom: 4rem;
}

.top{
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.userPhoto{
    height: 6.4rem;
    min-width: 6.4rem;
    border-radius: 50%;
}

.middle{
    display: grid;
    gap: 1.4rem;
    padding: 1.8rem;
    border-radius: 1em;
    background-color: #252525;
}

.middle > p{
    margin: 0 1rem;
}

.projectReqContainer{
    display: flex;
    gap: 1rem;
    justify-content: right;
    
}

.projectReq{
    display: flex;
    gap: .5rem;
    align-items: center;
    margin-top: 1.2rem;
}

.projectTypeColor{
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
}


.bottom{
    display: grid;
    gap: .6rem;
}


.bottom h4{
    margin: 1rem 0;
}

.contact{
    display: flex;
    align-items: center;
    gap: 1rem;
}
