.navLink {
  text-decoration: none;
  color: var(--border-color);
  height: fit-content;
  text-align: center;
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 0.8rem;
}

.navLink:hover {
  background-color: var(--nav-hover);
}

.navLink.active {
  color: var(--text-color);
  background-color: var(--nav-hover);
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.label {
  cursor: pointer;
}
