.button{
    border: none;
    padding: 1.4rem;
    display: flex;
    align-items: center;
    width: auto;
    height: 4.8rem;
    justify-content: space-around;
    border-radius: .8rem;
    cursor: pointer;
    font-weight: bold;
}

.primary{
    background-color: #f17500;
    color: #f5f5f5;
}

.primary:hover{
    background-color: #ff7b00;
}

.secondary{
    background-color: #f5f5f5;
    color: rgb(7,146,0);
}

.secondary:hover{
    background-color: rgb(7, 146, 0);
    color: #f5f5f5;
}

.terciary{
    background-color: rgb(7, 146, 0);
    color: #f5f5f5;
}

.quaternary{
    background-color: var(--nav-hover);
    color: var(--text-color);
}

.quaternary:hover{
    border: 2px solid var(--border-color);
}

.danger{
    height: 3.8rem;
    background-color: #960000;
    color: #f5f5f5;
}

.danger:hover{
    background-color: #a70000;
}

.terciary:hover{
    background-color: rgb(8, 153, 0);
    color: #f5f5f5;
}

.transparent{
    background-color: transparent;
    color: #909090;
}

.transparent:hover{
    color: var(--text-color);
}

.link{
    text-decoration: underline;
}

.gap{
    gap: .8rem;
}