hr{
    margin-top: 1.8rem;
    border: none;
    height: .1rem;
    background-color: #252525;
}


.body{
    height: 100vh;
    min-width: 100%;
    padding: 2rem;
}


.feed{
    display: grid;
    overflow-y: auto;
    margin-top: 9rem;    
}
.postsContainer{
    margin-bottom: 9rem;    
    display: grid;
    gap: 2.8rem;
}

.img{
    max-width: 24rem;
    max-height: 24rem;
    height: auto;
    width: auto;
    opacity: 50%;
}



