hr{
    border: none;
    height: .1rem;
    background-color: #252525;
}


.body{
    height: 100vh;
    min-width: 100%;
}

.container{
    width: 100%;
    padding: 2rem;
    overflow-y: auto;
    overflow-x: auto;
}


.feed{
    display: grid;
    /* padding: 2rem; */
    /* margin-top: 6rem; */
    margin-bottom: 10rem;
}

.tagsContainer{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    gap: 1rem;
    overflow-x: auto;
    margin-bottom: 2rem;
}

.postsContainer{
    display: grid;
    gap: 2.8rem;
    align-items: flex-start;
}

.img{
    max-width: 24rem;
    max-height: 24rem;
    height: auto;
    width: auto;
    opacity: 50%;
}


@media only screen and (min-width: 768px){
    .body{
        display: flex;
        padding: 0;
    }
    .postsContainer{
        display: flex;
        flex-wrap: wrap;
    }
}


