

.tabBar{
    height: 7rem;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--bg-color);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.img{
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
    object-fit: cover;
} 

.sideBar{
    /* width: fit-content; */
    /* min-width: fit-content; */
    height: 100vh;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    background-color: var(--bg-color);
    font-size: 500;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.perfil{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.userInfo{
    display: grid;
    text-align: start;
}
    
.nav{
    display: grid;
    gap: 1rem;
}