.container{
    position: fixed;
    bottom: 1.6rem;
    right: 1.6rem;
    z-index: 10;
    background-color: #eeeeee;
    padding: 1.4rem;
    color: #101010;
    border-radius: 1rem;
    width: fit-content;
    max-width: 32rem;
    display: grid;
    justify-content: end;
}

.header{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}