li{
    list-style: none;
}

hr{
    margin-top: 1rem;
}

.body{
    height: 100vh;
    min-width: 100%;
}
.container{
    width: 100%;
    padding: 2rem;
    overflow-y: auto;
}


.postsContainer{
    display: grid;
    gap: 2.8rem;
}


.projectsContainer{
    display: grid;
    gap: 1.8rem;
    margin-top: 4rem;
    margin-bottom: 10rem;
    align-items: flex-start;
}


@media only screen and (min-width: 768px){
    .body{
        display: flex;
        padding: 0;
    }
    .postsContainer{
        display: flex;
        flex-wrap: wrap;
    }
}