li {
    list-style: none;
}

hr {
    margin-top: 1rem;
}

.body {
    height: 100vh;
    min-width: 100%;
}

.container {
    width: 100%;
    padding: 2rem;
    overflow-y: auto;
}


.postsContainer {
    display: grid;
    gap: 2.8rem;
}


.projectsContainer {
    display: grid;
    gap: 1.8rem;
    margin-top: 4rem;
    margin-bottom: 10rem;
    align-items: flex-start;
}

.addButton {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.4rem;
    border-radius: .8rem;
    background-color: rgb(7, 146, 0);
    color: #f5f5f5;
    border: none;
    cursor: pointer;
    font-weight: bold;
}


.addButton:hover {
    background-color: rgb(8, 167, 0);
}

@media only screen and (min-width: 768px) {
    .body {
        display: flex;
        padding: 0;
    }

    .postsContainer {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 768px) {
    .addButton {
        position: fixed;
        bottom: 9rem;
        right: 1.8rem;
        border-radius: 999rem;
        padding: 1.8rem;
        box-shadow:
            12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
            100px 100px 80px rgba(0, 0, 0, 0.07);
    }
    
    .addButton > p {
        display: none;
    }
}