.form {
    display: grid;
    gap: 1rem;
}

.form h3 {
    margin-right: 4rem;
}

.input {
    background-color: #252525;
    border: none;
    padding: 1rem;
    border-radius: .8rem;
    color: #f5f5f5;
    font-weight: 500;
    height: 4.2rem;
    margin-bottom: 1rem;
    border: .2rem solid #303030

}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}