.container{
    border-radius: .8rem;
}

.projectContainer{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}


.title{
    text-align: start;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.autor{
    display: flex;
    gap: 1.4rem;
    align-items: center;
}


.top{
    display: grid;
    align-items: center;
    gap: 1.2rem;
    border-radius: .8rem ;
    padding: 1.8rem;
    border: .2rem solid #303030;
    
}

.userPhoto{
    height: 6.4rem;
    min-width: 6.4rem;
    border-radius: 50%;
}

.middle{
    display: grid;
    gap: 1.4rem;
    padding: 1.8rem;
    border-radius: .8em;
    border: .2rem solid #303030;
}

.middle > p{
    text-align: start;
    word-break: normal;
    line-break: auto;
    max-width: 48rem;
    margin-bottom: 2rem; 
    font-weight: 400;
}


.projectReqContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.projectReq{
    display: flex;
    align-items: center;
    gap: .5rem;
    width: fit-content;
    padding: .4rem 1.4rem;
    border-radius: 999rem;
    background-color: #101010;
    border: .2rem solid #303030;
    color: #ccc;
    font-weight: 500;
}

.projectTypeColor{
    height: 1.4rem;
    width: 1.4rem;
}


.bottom{
    display: grid;
    gap: 1.4rem;
    border: .2rem solid #303030;
    padding: 1.8rem;
    border-radius: .8rem;
}


.contacts{
    display: grid;
    gap: .6rem;
}

.contact{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.button{
    font-weight: bold;
    background-color: #f5f5f5;
    color: #101010;
    height: 4.8rem;
    border-radius: .5rem;
    border: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.button:hover{
    cursor: pointer;
    background-color: #ccc;
    color: #101010;
}

@media only screen and (min-width: 768px){
    .container{
        min-width: 48rem;
    }
}
