

.container{
    padding: 2rem;
    width: 100%;
}


.projectsContainer{
    display: grid;
    gap: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    overflow-y: auto;
}

.img{
    max-width: 32rem;
    max-height: 32rem;
    height: auto;
    width: auto;
    opacity: 50%;
}


.title{
    text-align: start;
    margin-top: 4rem;
}

.projectForm{
    margin-top: 2.4rem;
    display: grid;
    gap: 2rem;
}

.projectTitleContainer, .description, .numberOfStudentsContainer, .projectTypeContainer{
    display: grid;
    gap: 1rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.descriptionText{
    background-color: #252525;
    border: none;
    resize: none;
    padding: 1rem;
    border-radius: .8rem;
    font-weight: 700;
    color: #f5f5f5;
    
}

.descriptionText::placeholder{
    color: #4a4a4a
}

.addOrRemoveStudentsContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.numberOfStudents{
    background-color: #252525;
    color: #f5f5f5;
    border: none;
    height: 100%;
    width: 100%;
    border-radius: .8rem;
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
}

.checkbox{
    background-color: #252525;
    padding: 2rem;
    border-radius: .8rem;
    all: unset;
}


.checkbox:checked + .type{
    background-color: #00d672;
    color: #f5f5f5;
}

.type{
    display: flex;
    align-items: center;
    height: 6rem;
    border-radius: .8rem;
    padding: 1rem;
    width: 100%;
    background-color: #252525;
    cursor: pointer;
}

.input{
    background-color: #252525;
    border: none;
    padding: 1rem;
    border-radius: .8rem;
    color: #f5f5f5;
    font-weight: 500;
    height: 4.2rem;
}


@media only screen and (min-width: 768px){
    .body{
        display: flex;
        padding: 0;
    }
    .projectsContainer{
        display: flex;
        flex-wrap: wrap;
    }
}